.selling-item {
  width: 100%;
  height: 100%;
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    margin: 5px auto 5px auto;
  }

  ion-col {
    padding: 0;
  }

  ion-icon {
    font-size: 2.5em;
  }

  ion-icon:active {
    transform: scale(1.2);
  }

  ion-badge {
    position: absolute;
    font-size: 1.2em;
    top: 0;
    right: 0;
  }

  .update-icon{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
  }

  &.updated {
    border: 2px solid var(--ion-color-warning);
  }

  .updated {
    color: var(--ion-color-warning);
    display: none
  }

  &.updated .updated {
    display: block
  }
}

ion-footer {
  ion-col {
    display: flex;
  }

  ion-col > * {
    margin: auto;
  }

  ion-button {
    width: 100%;
  }
}